Customer Support Q_A Bot Using Retrieval-Augmented Generation(RAG).json
{
  "name": "Customer Support Q/A Bot Using Retrieval-Augmented Generation(RAG)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1f1_fmQZhFnIcQzgxA3okaLyjxHNjNWm3",
          "mode": "list",
          "cachedResultName": "AI AUTOMATION",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1f1_fmQZhFnIcQzgxA3okaLyjxHNjNWm3"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        -144
      ],
      "id": "66f5dc42-b646-4b0d-af8c-7ec6828a8a75",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MvtxhbG2JHiaMeRD",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -240,
        -144
      ],
      "id": "baee3953-5aa2-4396-8ebb-90e20d6ee722",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MvtxhbG2JHiaMeRD",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "bot",
          "mode": "list",
          "cachedResultName": "bot"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -16,
        -144
      ],
      "id": "95704ebc-ab7c-4248-991d-86a67f9a242f",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "nOth7azRcQC5lEMW",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -16,
        80
      ],
      "id": "eb77d35c-9153-4742-8336-b96e59bd4b68",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "JQmE8BUS2TYq1CiQ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        128,
        80
      ],
      "id": "0cadc71e-6256-4177-a037-5dc7ec2ecc47",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4b4305e4-30b3-4e10-9e9f-3615f29a492d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ff0006fc908e706f73518b4e3db17d97601bf31f154a300d9a76d84e35a24bac"
  },
  "id": "IYp3QnurYnyJBpjA",
  "tags": []
}